/* GERAL */
* {
  padding: 0;
  margin: 0;
  font-family: Arial;
  color: #333;
  box-sizing: border-box;
}

body {
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  background-color: #fdfdfd;
  color: #102f5e;
  border: 2px solid #102f5e;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2;
}

button:hover {
  background-color: #102f5e;
  color: #fff;
}

button:hover > i {
  color: #fff;
}

button i {
  pointer-events: none;
  color: #102f5e;
  font-weight: bold;
}

input,
select {
  padding: 0.25rem 0.5rem;
  outline: none;
}

.hide {
  display: none;
}

/* Todo Header */
.todo-container {
  max-width: 450px;
  margin: 3rem auto;
  background-color: #fdfdfd;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header {
  text-align: center;
  padding: 0 1rem 1rem;
  border-bottom: 1px solid #ccc;
}

.todo-container header h1 {
  font-size: 2.5rem;
  color: #45178b;
}

/* Todo Form */
#todo-form,
#edit-form {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

#todo-form p,
#edit-form p {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

#cancel-edit-btn {
  margin-top: 1rem;
  color: #444;
}

#cancel-edit-btn:hover {
  opacity: 0.9;
  color: #ccc;
}

.form-control {
  display: flex;
}

.form-control input {
  margin-right: 0.3rem;
}

/* Todo List */
.todo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.todo h3 {
  flex: 1;
  font-size: 0.9rem;
}

.todo button {
  margin-left: 0.4rem;
}

.done {
  background-color: #1b1d8b;
}

.done h3 {
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}
